
/*Shop Header Navigation */
.shop-page-header-top{
  background-color:#474c6c;
}
.shop-page-header-bottom{
  background-color:#ceb1a0;
}
.shop-page-link-icons{
  display:flex;
  justify-content: center;
  align-items:center;
  ;
}
.shop-page-link-icons a{
  padding:1rem;
}
.shop-logo-container{
  display:flex;
  justify-content: flex-start;
}
.shop-logo-container a{
  padding:0rem 1rem;
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.05rem;
  text-align: left;
  text-transform:uppercase;
  color: black;
}
.shop-page-navigation-container{
  display:flex;
  justify-content: flex-end;
}
.shop-page-navigation-container a{
  padding:0rem 1rem;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.05rem;
  text-align: left;
  text-transform:uppercase;
  color: black;
}
/*Shop item title*/
.shop-item-title{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-three);
}
/*Cart modal styling*/
.cart-modal-button{
  margin-left:90rem;
}
/*Cart heading positioning styling*/
.cart-item-head{
  display: flex;
  justify-content: center;
}
.cart-price-head{
  display: flex;
  justify-content: center;
}
.cart-quantity-head{
  display: flex;
  justify-content: center;
}
.cart-item-image{
  width: 10rem;
  height: 10rem;
  border-radius:10%;
}
/*Cart heading font styling*/
.cart-heading{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-three);
}
/* Cart inner text styling*/
.cart-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-three);
}
/* Cart Content Styling*/
.cart-price{
  display:flex;
  justify-content: center;
  align-items: center;
}
/*Cart Row Styling*/
.cart-item-row{
  margin-top:2rem;
}
.cart-quantity{
  margin-top:3rem;
}
/*Cart total styling*/
.cart-total{
  display: flex;
  justify-content: center;
}
.cart-total-heading{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2vw;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-three);
}
.cart-total-amount{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-three);
}
/* Pagination links */
.pagination{
  justify-content: space-evenly;
  background-color: #e5e5e5;
}
.pagination a {
  color: black;
  font-size:1.5rem;
  float: center;
  padding: 2rem 5rem;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
/* .pagination a.active {
  background-color: silver;
  color: brown;
} */

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  font-weight: bold;
  background-color: rgb(199, 116, 116);
}