

:root{
  --white-four:#e5e5e5;
  --black:#2d2827;
  font-size: 1vw;
  font-family: 'Source Sans Pro', sans-serif;
}
*{
  box-sizing:border-box;
}
body{
  background-color:yellow;
}
h1,
h2,
h3,
h4{
  font-family:SourceSansPro;
}
/* .header-top{
  position:fixed;
  top:0;
}
.header-top-row1{
    width: 100%;
    height: 3.3125rem;
    background-color:black;
    color:grey;
  }
  .header-top-lang{
    background-color: antiquewhite;
    display:flex;
    justify-content: flex-end;
  }
  .header-top-news{
    display:flex;
    justify-content:center;
    align-items: center;
  }
.header-top-news p {
    margin-left:auto;
    margin-right:auto;
    
    height:17%;
    font-family: SourceSansPro;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 0.15rem;
    text-align: center;
    color: #999999;
}
.header-btn{
  background-color: black;
  color:grey;
}


.header-top-row-2{
  background-color:blue;
}
.nav-col{
  margin:0 auto;
}
.nav-col ul{
  margin:0;
  padding:0;
  list-style-type: none;
  text-align:right;
}
.nav-col ul li{
  float:none;
  display:inline-block;
}
.nav-col ul li:nth-child(1){
  float:left;
}
.nav-col ul li:nth-child(2){
  float:left;
}
.nav-col ul li:nth-child(3){
  float:left;
}

.nav-col ul li a{
  display:block;
  padding:1rem 2rem;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: var(--white-five);

}
#logo-area{
  position:absolute;
  left: 42%;
  top:0;
  padding:1rem;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: var(--white-five);
  
}
.nav-bar-col-2{
  background-color:black;
}
.nav-bar-spacing{
  display: flex;
  justify-content: space-evenly;
}
.banner-image{
  background: url(../images/open_delta.png)
} */









/* .footer-top{
  margin-top:1000px;
  
  background-color:#2d2827;
}
.footer-top-heading{
  margin-top:3.75rem;
  color:var(--white-four);
}
.footer-contacts{
  display:flex;
  justify-content: flex-end;
}
.footer-content{
  background-color: brown;
}
.footer-links{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.footer-links ul{
  list-style-type: none;
  margin-top: 3.75rem;
}
.footer-links ul li a{
  text-align:center;
}

.footer-shops{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.footer-instagram{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.footer-bottom{
  display:flex;
  justify-content:center;
  background-color: var(--white-two);
}
.footer-bottom p{
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
  } */

footer{
  position: fixed;
  bottom:0;
  width:100%;
  background-color: #999999;
}
.footer-top{
  color:white;
  display:grid;
  grid-template-columns: 4fr 2fr 2fr 4fr;
  grid-template-rows: 18vw;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--black);
  
}
#footerCol1{
  grid-column-start: 1;
  grid-column-end:1;
  
}
#footerCol2{
  grid-column-start: 2;
  grid-column-end:2;
  
  text-align: center;
}
#footerCol3{
  grid-column-start: 3;
  grid-column-end:3;
  text-align: center;
  
}
#footerCol4{
  grid-column-start: 4;
  grid-column-end:4;
  
}
.footer-top-col{
background-color:var(--black);
}
.footer-top-heading{
  margin-top:3vw;
  font-size:2rem;
  font-size: 18px;

  
}
.footer-top-heading-1{
  margin-top:3vw;
  font-size:2rem;
  padding-left:25rem;
}
.footer-top-heading-2{
  margin-top:3vw;
  font-size:2rem;
  
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--white-four);
}
.footer-top-heading-3{
  margin-top:3vw;
  font-size:2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--white-four);
}
.footer-top-heading-4{
  margin-top:3vw;
  font-size:2rem;
  padding-left:2rem;
}
.footer-top-content{
  margin-top:3vw;
  background:green;
  
}

.footer-top-content ul{
  list-style-type:none;
  margin-left:auto;
  margin-right:auto;
  background: brown;
}

#instagramBlock{
  margin-top:0rem;
  margin-left:2rem;
  width: 75%;
  height:37.5%;
  
  display:grid;
  background-color:var(--black);
  grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr;
  grid-template-rows: 4fr 1fr 4fr;
  column-gap: 1fr;
  row-gap: 1fr;

}
#footerImage1{
  grid-column-start: 1;
  grid-column-end:1;
  grid-row-start:1;
  grid-row-end:1;
  background:var(--white-four);
}
#footerImage2{
  grid-column-start: 3;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:1;
  background:var(--white-four);
}
#footerImage3{
  grid-column-start: 5;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:1;
  background:var(--white-four);
}
#footerImage4{
  grid-column-start: 7;
  grid-column-end:7;
  grid-row-start:1;
  grid-row-end:1;
  background:var(--white-four);
}
#footerImage5{
  grid-column-start: 1;
  grid-column-end:1;
  grid-row-start:3;
  grid-row-end:3;
  background:var(--white-four);
}
#footerImage6{
  grid-column-start: 3;
  grid-column-end:3;
  grid-row-start:3;
  grid-row-end:3;
  background:var(--white-four);
}
#footerImage7{
  grid-column-start: 5;
  grid-column-end:5;
  grid-row-start:3;
  grid-row-end:3;
  background:var(--white-four);
}
#footerImage8{
  grid-column-start: 7;
  grid-column-end:7;
  grid-row-start:3;
  grid-row-end:3;
  background:var(--white-four);
}
/* .footer-image-container{
  background:blue;
} */

/* .footer-top-content a{
    width: 1rem;
    font-family: SourceSansPro;
    font-size:1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }*/


.footer-bottom{
  background-color:var(--white-four);
  text-align: center;
  height: 4vw;
}
  /***Media queries for nav bar***/

  /* Small Screens */
@media only screen and (min-width:568px){
  .mobile-screen{
    display:none;
  }
}